@use './variables' as *;

html {
    font-size: 125%;
    font-family: $basefont;
}

body {
    background-color:$primaryhighlight;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: block !important;
}

