@use './variables' as *;

// TODO:
// adjust card sizes so there is no scroll. 

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // margin-bottom: 20px;
    padding: 0 250px;

    .flip {
            transform: rotateY(180deg);
            transition: transform (3s);
        }
    .card {
        // min-width: 145px;
        margin: 15px;
        flex-basis: calc(25% - 30px);
        border-radius: 15px;
        height: 200px;
        .front {
            background-color: #ccdbae;
            height: 100%;
            text-align: center;
            border-radius: 15px;
            img {
                border-radius: 15px;
            }
        }
        .back {
            display: none;
            background-color: #ccdbae;
            height: 100%;
            text-align: center;
            border-radius: 15px;
            border: grey solid 1px;
            // transform: rotateY(180deg);
            // transition: transform (3s);
            img {
                border-radius: 15px;
            }
        }
    }
}

@media (max-width: 1330px) {
    .cardsContainer {
        padding: 0 20%;
        .card {
            margin: 10px;
            height: 15vw;
        }
    }
}

// TABLET
@media (max-width: 810px) {
    .cardsContainer {
        padding: 0px;
        .card {
            height: 20vw;
        }
    }
}

@media (max-width: 640px) {
    .cardsContainer .card {
        margin: 5px;
        flex-basis: 25%;
        height: 25vw;
    }
    .wrapper {
        width: 90%;
    }
}

