@use './variables' as *;

footer {
    
    background-color:$primaryhighlight;
    margin-top: auto;
    
    
    p {
    text-align: center;
    font-family: $basefont;
    color: $secondarycolor;
    }
}