header{
    .wrapper{
    display: flex;
    justify-content: space-between;
    }
    h1 {
        margin: 0px;
    }
    button {
        background-color: #fff;
        border: none;
    }
    button:hover {
        transform: scale(1.2);
    }
}