@use './variables' as *;

main {
    text-align: center;
}

.message {
    height: 50px;
    vertical-align: bottom;
    color: #84965d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.pairsMatched {
    height: 23px;
    margin-bottom: 15px;
}
.userAttempts {
    height: 23px;
    margin-bottom: 15px;
}

.gameUpdates {
    display: flex;
    justify-content: space-evenly;
}