
@font-face {
    font-family: "Pixel";
    src: url("../fonts/redAlert.ttf") ;
    font-weight: 500;
    font-style: normal;
}

$basefont: "Pixel"; 
$secondaryfont:'Space Grotesk', sans-serif;
$primarycolor: #2b2a2b; 
$secondarycolor:#2C2C2C;
$primaryhighlight:#D9DCE6;
$mainhighlight:white;

