
@font-face {
    font-family: "Pixel";
    src: url("../fonts/redAlert.ttf") ;
    font-weight: 500;
    font-style: normal;
}

$basefont:"Pixel"; 
$primarycolor:#F0EFED; 
$secondarycolor:#2C2C2C;
$primaryhighlight:#D9DCE6;
